@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html{
    font-size: 62.5%;
}
body{
    font: 1.4rem 'roboto', sans-serif;
    margin: 0;
    color: black;
    text-rendering: optimizeLegibility; 
}
h1,h2,h3,h4,h5,h6,p,ul,ol{
    padding: 0rem;
    margin: 0rem;
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,li{
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    /* border-radius: 4rem;
    overflow: hidden; */
}
a{
    text-decoration: none;
    color: #222;
}

*{box-sizing: border-box;
}
/*fin reset*/
:root{ /*palette couleur */
    --bgc-primary: #ffffff;
    --bgc-button:#DA6930;
    --bgc-title: #DFE6E9;
    --color-text: #414141;
}
Header h1{
    line-height: 5.0rem;
    text-align: center;
    font-size: 2rem;
    color: var(--color-text);
    background-color: var(--bgc-title);
}
Header h1::before{
    content: url(../favicon_io/favicon-16x16.png);
    vertical-align: -0.2rem;
    margin-right: 2rem;
    object-fit: contain;
}
nav{
    line-height: 0.1rem;
    text-align: center;
    font-size: 1rem;
    color: var(--color-text);
    background-color: var(--bgc-primary);
}
nav ol li{
    display: inline-block;
    margin: auto;
    font-size: 1.2rem;
    top:0;
    line-height: 0.3rem;
    text-transform: uppercase;
}
nav ol li img{
    width: calc(100%/7); /*modifier taille de l'image*/
    display: inline-block;
    
    /* margin: 0 1rem 1rem 0; */
    padding:0rem; 
    /* margin-right: 2rem; */
}
main{
    background-color: var(--color-text);
    /* margin: 0 0 0 0rem; */
    
/* max-width: 100%;
max-height: 100%; */
}

 main section{
    background-color: var(--bgc-primary); 
    display: flex;
    max-width: 60rem;
    /* max-height: 80rem; */
    margin: 5rem auto;



}
/* main ul{
    background-color: var(--bgc-title);
    display: flex;
    justify-content: center;
    align-items: center;
}
main ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
main section{
    background-color: #fff;
    display: flex;
    border-radius: .5rem;
    margin: 5rem auto;
    max-width: 80rem;
} */

h2,p,ul,li{
    font-size: 1rem;
    /* display: flex;
    position: initial;
    justify-content: flex-end; */
    /* margin:0 10rem 10rem 0; */
}


section img{
    width: calc(100%/2.5); /*modifier taille de l'image*/
    display: flex;
    position: initial;
    margin: 0 1rem 1rem 0;
    padding:0rem;
    
}
section h2,p,ul,li{
    text-align: left;
}

main section button{
    background-color: var(--bgc-button);
    line-height: 1rem;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
   
    width: 13rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    overflow: hidden;
    border: none;
    /* bottom: 1;
    right: 1; */
    /* right: 0; */
    /* width: 2rem;
    height: 2rem; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;  */
    /* position: absolute;
    display: flex;
    color: #fff;
    border-radius: 0.2rem;
    border: none; */
}
main section button span{
    filter: invert(100%);
    
    /* bottom: 1rem;
    right: 1rem; */
}
main section button span img{
    width: 1.5rem;
    display: flex;
    align-items: center;
    vertical-align: -5rem;
    /* position: absolute; */
   
}
   

footer{
    text-align: center;
    line-height: 0rem;
    
    /* font-size: 2rem; */
    color: var(--color-text);
    background-color: var(--bgc-primary);
}
@media screen {
    
}
